<%- include("partials/header.ejs") %>

<div class="post-image"><img src="/uploads/<%= post.featuredimage %>" alt="Featured Image"></div>

<div class="post-container">
    <% if (locals.post) {%>
    <p id="date-posted"> <%= post.dateposted.toLocaleDateString("el-GR", { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
    <p id="author"> <%= post.author %> </p>
    <h1>
        <%= post.title %>
    </h1>
    <p id="content">
        <%- post.content %>
    <% }else { %>    
        <h1> The post no longer exists! </h1>
        <% } %>
</div>


<%- include("partials/footer.ejs") %>